<p id="notice"><%= notice %></p>
<p><%= image_for(@note.user)%><%= link_to @note.user.name, user_path(@note.user.id)%></p>
<p>
  <%= @note.content %>
</p>
<p><%= link_to 'いいね', like_path(@note.id), method: :post%></p>
<%= link_to 'Back', notes_path %>

<%if current_user.id == @note.user.id%>
<%= link_to 'Edit', edit_note_path(@note) %>
<%end%>