<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
       <div class="container">
          <%= link_to "ツイッター", '#', id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <%if user_signed_in?%>
              <li><%= link_to "ツイート", new_note_path %></li>
              <li><%= link_to "ツイート一覧", notes_path%></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete%></li>
              <li><%= link_to "プロフィール", user_path(current_user.id)%></li>

              <%else%>
              <li><%= link_to "ログイン", new_user_session_path %></li>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
              <%end%>
            </ul>
          </nav>
        </div>
  </header>

<div class = "container">
  <div class="center jumbotron">
    <p><%= alert%></p>
<%= yield %>
  </div>
</div>
</body>
</html>
