<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
       <div class="container">
          <%= link_to "ツイッター", '#', id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "ログイン",   '#' %></li>
              <li><%= link_to "新規登録",   '#' %></li>

              <li><%= link_to "ツイート", new_note_path %></li>
              <li><%= link_to "ツイート一覧", notes_path%></li>
              <li><%= link_to "ログアウト", '#'%></li>
              <li><%= link_to "プロフィール設定", '#'%></li>
            </ul>
          </nav>
        </div>
  </header>

<div class = "container">
  <div class="center jumbotron">
<%= yield %>
  </div>
</div>
</body>
</html>
